body {
    background-color: #dadbd3;
}

header {
    background-color: #009688;
    height: 125px;
}

main {
    background-color: white;
    position: absolute;
    top: 4vh;
    left: 10vw;
    width: 80vw;
}

h1 {
    color: red;
}

.headingAccountsColor {
    background-color: #eaeaea;
}

ul {
    padding: 0;
}

li {
    border-top: 1px solid #dddddd;
    list-style-type: none;
}

img {
    height: 100%;
    object-fit: cover;
}

figure {
    border-radius: 50%;
    overflow: hidden;
}

div.input-group.input-group-sm {
    width: calc(100% - 0.5rem);
    margin: 0.25rem 0.25rem;
}

.accountInfos {
    height: 100%;
}

.accountDimensioning {
    height: 55px;
    width: 100%;
}

#inputGroup-sizing-sm {
    width: 80px;
}

#notificationsToggle {
    height: 70px;
    width: 100%;
    background-color: #8edafc;
}

#contactOfViewedAccount {
    border-left: 1px solid #dddddd;
}

#notificationsBell {
    color: #8edafc;
    padding: 0.5rem;
}

#messagesArea {
    background-image: url("../img/mine.jpg");
}

#messagesInput {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #f3eeea;
    bottom: 0;
    left: 0;
}