body {
    background-color: #dadbd3;
}

header {
    background-color: #009688;
    height: 125px;
}

main {
    background-color: white;
    position: absolute;
    top: 4vh;
    left: 10vw;
    height: 92vh;
    width: 80vw;
}

h1 {
    color: red;
}

.headingAccountsColor {
    background-color: #eaeaea;
}

ul {
    padding: 0;
}

li {
    border-top: 1px solid #dddddd;
    list-style-type: none;
}

.accountDimensioning {
    height: 60px;
    width: 100%;
}

#notificationsToggle {
    height: 70px;
    width: 100%;
}

#searchBar {
    width: 100%;
    height: 40px;
    display: inline-block;
}

#contactOfViewedAccount {
    border-left: 1px solid #dddddd;
}